@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}
/*Footer Section*/
.footer-container {
    background-color: rgba(14, 12, 12, 0.887);
    padding: 20px;
}
.footer {
display: flex;
justify-content: center;
flex-wrap: wrap;
width: auto;
height: auto;
color: #fff;
margin: 0 auto;
}
.footer-heading {
display: flex;
flex-direction: column;
margin-right: 4rem;
}
.footer-heading h3 {
    margin-bottom: 2rem;
}
.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.copy-right h4 {
    color: rgb(0, 0, 0);
    justify-content: center;
    background-color: black;
    color: #fff;
    justify-content: center;
}

#nav-first {
    background-color: black;
    height: 30px;
    align-content: center;
    position:fixed;
    padding-top: 2px;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 5;
}
#nav-second {
    background-color: rgb(12, 96, 102);
    position: fixed;
    overflow: hidden;
    top: 30px;
    width: 100%;
    z-index: 4;
}
.navbar-toggler {
    background-color: rgb(39, 146, 154)
}
.navbar-brand {
    font-size:xx-large;
    font-family: 'Lobster', cursive;
}
body {
    padding-top: 100px;
}
#content {
    margin-top: 100px;
}
#button-one, #button-two  {
    background-color: rgb(39, 146, 154);
    color: white;
    border-radius: 3px;
    border: 0em;
    padding: 6px 20px;
    /* margin-right: 50px; */
}
.tab-content{
    margin-top: 50px;
}
.tab-pane {
    margin-bottom: 200px;
}
#login-row {
    margin: 200px;
  }
  
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
#login-btn, #register-btn, .btn-group {
    background-color: rgb(39, 146, 154);
}

#inlineRadio2 {
    margin-left: 8px;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width:800px;
    margin: 5px auto;
    padding:25px;
}
.mytabs input[type="radio"]{
    display: none;
}
.mytabs label {
    padding: 15px;
    background:#fff;
    font-weight: bold;
}
.tab {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    border-bottom: 1px solid black;
}   
.tab {
    cursor: pointer;
    padding: 10px;
    background-color: g;
}

.mytabs .tab {
    background-color: white;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}
.mytabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.mytabs input[type="radio"]:checked + label {
    background: gray;
}

h1 {
    justify-self: center;
}

.q1 {
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
}